<Menu Theme="MenuTheme.Light" Accordion Mode="MenuMode.Inline"
      OnMenuItemClicked=handleClick
      DefaultSelectedKeys=@(new[]{"home"})>

    <MenuItem Key="home" RouterLink="" RouterMatch="@NavLinkMatch.All">
        <Icon Type="home" Theme="outline" Style="font-size:20px" />
        <span>Home</span>
    </MenuItem>
    <MenuItem Key="counter" RouterLink="counter">
        <Icon Type="area-chart" Theme="outline" Style="font-size:20px" />
        <span>Counter</span>
    </MenuItem>
</Menu>

@code {
    string current = "home";


    void handleClick(MenuItem e)
    {
        current = e.Key;
    }

}